body{
  font-family: sans-serif;
  text-align: center
}

html {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,PingFang SC,Source Han Sans CN,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 1.5em;
  font-weight: 400
}

#donate{
  font-size: .8em
}

a {
  text-decoration: none
}
.contain {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.progress-container{
  height: 10px
}

.player-container {
  width: 95%;
  margin: 0 auto
}

.navigation {
  background: #f4f5f6;
  background: black;
  border-bottom: .1rem solid #d1d1d1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 3.2rem;
  left: 0;
  max-width: 100%;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 1;
}

@keyframes glow {
    0%   {color: yellow;}
    100%  {color: green;}
}

.comments {
  width: 60%;
  margin: 0 auto;
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 10px;
  max-width: 375px;
  margin: 20px auto;
}

.nowPlaying {
  color: white;
  text-align: center;
  margin: 0 auto;
  animation: glow;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

audio {
  min-width: 100%;
  display: block;
  position: fixed;
  bottom: 0;
}

.card:hover{
  cursor: pointer
}

@media only screen and (max-width: 1000px) {
  .comments {
    width: 85%
  }
}
